/* the star * means universal selector, it does this for all elements on the page */
* {
    margin: 0;
    /* Remove default margins from all elements */
    padding: 0;
    /* Remove default padding from all elements */
    font-family: 'Poppins', sans-serif;
    /* Set the default font family */
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
}

body {
    background: #080808;
    /* add a dark color as the background */
    color: #fff;
    /* add text color as white */
}

/* use # in front of header as it is an ID */
#header {
    width: 100%;
    /* Ensure the header takes the full width of the viewport */
    height: 100vh;
    /* Ensure the header takes the full height of the viewport */
    position: relative;
    /* Needed for the pseudo-element positioning */
    background-image: url(images/gif10_winnie_butterfly.gif);
    /* Use the GIF image from the images folder as a background image */
    background-size: cover;
    /* Ensure the background covers the entire div without stretching */
    background-position: center;
    /* Center the image within the div */
    background-repeat: no-repeat;
    /* Prevent repeating the GIF */
}

/* add a layer on top of #header, add a shade of color on the bckg image */
#header::after {
    content: "";
    /* Required for the pseudo-element */
    position: absolute;
    /* Position the pseudo-element absolutely within the #header */
    top: 0;
    /* Position at the top */
    left: 0;
    /* Position at the left */
    width: 100%;
    /* Cover the full width of the #header */
    height: 100%;
    /* Cover the full height of the #header */
    background-color: rgba(102, 51, 153, 0.7);
    /* add a Faint dark purple with opacity as bckg color */
    z-index: 1;
    /* Ensure it's on top of the background */
    pointer-events: none;
    /* Allow interactions with elements below the overlay */
}