/* ------------------ START ------------------ */

/* the star * means universal selector, it does this for all elements on the page */
* {
    margin: 0;
    /* Remove default margins from all elements */
    padding: 0;
    /* Remove default padding from all elements */
    font-family: 'Poppins', sans-serif;
    /* Set the default font family */
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
}

body {
    background: var(--purple_background);
    /* add a dark color as the background */
    color: var(--white);
    /* add text color as white */
}

/* global variables */
:root {
    --light_pink_text: #fccbcb;
    --purple_background: #8b86b1;
    --white: #fff;
    --dark_pink: #ff004f;
    --gray: #ababab;
    --light_gray: #eeeee4;
}

/* ------------------ HEADER ------------------ */

/* use # in front of header as it is an ID */
#header {
    width: 100%;
    /* Ensure the header takes the full width of the viewport */
    height: 100vh;
    /* Ensure the header takes the full height of the viewport */
    position: relative;
    /* Needed for the pseudo-element positioning */
    background-image: url(images/gif10_winnie_butterfly.gif);
    /* Use the GIF image from the images folder as a background image */
    background-size: cover;
    /* Ensure the background covers the entire div without stretching */
    background-position: center;
    /* Center the image within the div */
    background-repeat: no-repeat;
    /* Prevent repeating the GIF */
}

/* add a layer on top of #header, add a shade of color on the bckg image */
#color_overlay {
    position: absolute;
    /* Position the pseudo-element absolutely within the #header */
    top: 0;
    /* Position at the top */
    left: 0;
    /* Position at the left */
    width: 100%;
    /* Cover the full width of the #header */
    height: 100%;
    /* Cover the full height of the #header */
    background-color: rgba(102, 51, 153, 0.4);
    /* add a Faint dark purple with opacity as bckg color */
    z-index: 1;
    /* Ensure it's on top of the background */
    pointer-events: none;
    /* Allow interactions with elements below the overlay */
}

.container {
    /* add some padding to the text, so that it shifts to the right. 10px from top and bottom and 10% from the left side and right side*/
    padding: 10px 10%;
    position: relative;
    /* Make sure container is above the color_overlay */
    z-index: 2;
    /* Ensure the content is on top of the overlay */
}

/* navigation div */
nav {
    display: flex;
    /* flex means that image and links are side-by-side */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 120px;
}

/* navigation buttons */
nav ul li {
    display: inline-block;
    /* so now it is horizontally aligned */
    list-style: none;
    margin: 10px 20px;
    /* we add margin so that we have space between the things, 10px from top and bottom and 20px from left and right side */
}

/* navigation links */
nav ul li a {
    color: var(--white);
    /* makes the color of the text white */
    text-decoration: none;
    /* removes all text decorations such as underline */
    font-size: 15px;
    position: relative;
}

nav ul li a::after {
    content: "";
    /* creates a pseudo-element with no content */
    width: 0;
    /* sets the width of the pseudo-element of the parent element */
    height: 3px;
    /* sets the height of the pseudo-element */
    background: var(--dark_pink);
    /* sets the background color of the pseudo-element to a shade of color */
    position: absolute;
    /* positions the pseudo-element absolutely within the parent element */
    left: 0;
    /* positions the pseudo-element at the left edge of the parent element */
    bottom: -6px;
    /* positions the pseudo-element 6 pixels below the bottom edge of the parent element */
    transition: 0.5s;
    /* this puts the transition in 0.5 s which will happen whenever cursor hovers on it */
}

nav ul li a:hover::after {
    width: 100%;
}

/* designation text on home screen */
.header-text {
    margin-top: 20%;
    /* add some space from the top */
    font-size: 30px;
}

/* name text on home screen */
.header-text h1 {
    font-size: 60px;
    /* make it very large */
    margin-top: 20px;
}

/* ------------------ ABOUT ------------------ */

#about {
    padding: 80px 0;
    /* 80px from top and bottom and 0 from left and right */
    color: var(--light_gray)
    /* the text color is now a light gray, instead of white */
}

.row {
    display: flex;
    /* so we did flex so that contents get side by side */
    justify-content: space-between;
    /* so that the contents are evenly spaced */
    flex-wrap: wrap;
}

/* the left side is column 1, i.e. the image side */
.about-col-1 {
    flex-basis: 35%;
    /* it means that the width of the column will be 35 percent */
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
    /* so the corner of the image will be round */
}

/* the right side is column 2, i.e. the text side */
.about-col-2 {
    flex-basis: 60%;
    /* remaining flex-basis of 5% (100-60-35) is the space between both columns */
}

/* heading of "about" */
.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: var(--white);
}

/* highlighting of specific words inside paragraph of "about me" */
.about-col-2 p span {
    color:var(--light_pink_text);
}

/* tabs of skills, experience & education */
.tab-titles {
    display: flex;
    /* to make them side by side */
    margin: 20px 0 40px;
    /* 20px from top and 0 from left and right and 40px from bottom. */
}

/* tab headings of skills, experience & education */
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    /* right now it is hidden. we will increase its width when hovered or clicked.  */
    height: 3px;
    background-color: var(--dark_pink);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/* first tab (skills) is highlighted/clicked */
.tab-links.active-link::after {
    /* now there is no space between class names */
    width: 100%;
}

/* highlighting of specific words in the tab */
.tab-content ul li span {
    color: var(--light_pink_text);
}